<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="UTF-8">
		<title>系统后台管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/css/font.css}">
		<link rel="stylesheet" th:href="@{/css/weadmin.css}">
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">角色管理</a>
        <a>
          <cite>角色列表</cite></a>
      </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">&#x1002;</i></a>
		</div>
		<div class="weadmin-body">

			<div class="weadmin-block">
				<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
				<button class="layui-btn" onclick="WeAdminShow('添加角色',baseurl+'/role/addRole',600,400)"><i class="layui-icon"></i>添加</button>
				<button class="layui-btn" id="reload"><i class="layui-icon"></i>重载</button>
			</div>
			<table class="layui-hide" id="roleList" lay-filter="lfilter"></table>
			<script type="text/html" id="operationBar">

				<a title="编辑" href="javascript:;" lay-event="edit">
					<i class="layui-icon">&#xe642;</i>
				</a>
				<a title="删除" href="javascript:;" lay-event="del">
					<i class="layui-icon">&#xe640;</i>
				</a>
				<button class="layui-btn" lay-event="hasMenus">已授权</button>
				<button class="layui-btn" lay-event="noHasMenus">未授权</button>
			</script>

		</div>
		<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
		<script th:attr="src=@{/layui/layui.js}" charset="utf-8"></script>
		<script th:attr="src=@{/js/eleDel.js}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" th:inline="javascript">
			var baseurl;
            layui.use(['table','jquery'], function(){
                var table = layui.table;
                $ = layui.jquery;
                baseurl=[[${#httpServletRequest.getContextPath()}]];
                var roleTable=table.render({
                    elem: '#roleList'
                    ,url: baseurl+'/role/listAllRoles'
                    ,id: 'id'
					,height:'400px'
                    ,cols: [
                        [
                            {checkbox: true, fixed: true}
                            ,{field:'id', width:'10.0%', title: '角色id', sort: true}
                            ,{field:'name', width:'15.0%', title: '角色名称', sort: true}
                            ,{field:'isOpenProcess', width:'10.0%', title: '审批权限', sort: true}
                            ,{field:'stationId', width:'10.0%', title: '部门id', sort: true}
                            ,{field:'createTime', width:'20.0%', title: '创建时间'}
                            ,{field:'right', width:'30%', title: '操作', toolbar: '#operationBar'}
                        ]
                    ]
            		,page: true
                    ,limit:10  //默认十条数据一页
                    ,limits:[10,20,30,50]  //数据分页条
                    ,request: {
                    	pageName: 'pageNo', //页码的参数名称，默认：page
                        limitName: 'pageSize' //每页数据量的参数名，默认：limit
                	}
            });
            $("#reload").click(function(){
                roleTable.reload();
            })
                //监听工具条
            table.on('tool(lfilter)', function(obj){ //注：tool是工具条事件名，lfilter是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent === 'edit'){ //修改
                    layer.open({
                        type: 2,
                        area: [500 + 'px', 400 + 'px'],
                        fix: false, //不固定
                        maxmin: true,
                        shadeClose: true,
                        shade: 0.4,
                        title: '角色修改',
                        content: baseurl+"/role/updateRoleInfo?id="+data.id
                    });
                } else if(layEvent === 'del'){ //删除
                    layer.confirm('确认要删除吗？', function(index) {
                        //发异步删除数据
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {
                            icon: 1,
                            time: 1000
                        });
                    });
                } else if(layEvent=="hasMenus"){
                    layer.open({
                        type: 2,
                        area: [800 + 'px', 600 + 'px'],
                        fix: false, //不固定
                        maxmin: true,
                        shadeClose: true,
                        shade: 0.4,
                        title: '角色编辑',
                        content: baseurl+"/menu/editMenuByRole?type=hasAuth&roleId="+data.id
                    });
                } else if(layEvent=="noHasMenus"){
                    layer.open({
                        type: 2,
                        area: [800 + 'px', 600 + 'px'],
                        fix: false, //不固定
                        maxmin: true,
                        shadeClose: true,
                        shade: 0.4,
                        title: '菜单编辑',
                        content: baseurl+"/menu/editMenuByRole?type=noAuth&roleId="+data.id
                    });
                }
            });
         });
		</script>
	</body>

</html>