<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="UTF-8">
		<base href="@{/static/}">
		<title>角色修改</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/css/font.css}">
		<link rel="stylesheet" th:href="@{/css/weadmin.css}">
	</head>

	<body>
		<div class="weadmin-body">
			<form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="hidden" name="id" th:value="${role.id}">
                    </div>
                </div>
				<div class="layui-form-item">
					<label for="name" class="layui-form-label">
		                <span class="we-red">*</span>角色名
		            </label>
					<div class="layui-input-inline">
						<input type="text" id="name" name="name" th:value="${role.name}" disabled="disabled" lay-verify="required" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
				    <label for="isOpenProcess" class="layui-form-label">是否开启审批流程</label>
				    <div class="layui-input-block" id="isOpenProcess">
				      <input type="radio" name="isOpenProcess" value="1" title="是" th:checked="${role.isOpenProcess eq '1'}">
				      <input type="radio" name="isOpenProcess" value="0" title="否" th:checked="${role.isOpenProcess eq '0'}">
				    </div>
					<!--<div class="layui-input-block" th:if="${role.isOpenProcess eq 0}" id="isOpenProcess2">-->
						<!--<input type="radio" name="isOpenProcess" value="1" title="是" >-->
						<!--<input type="radio" name="isOpenProcess" value="0" title="否" checked>-->
					<!--</div>-->
				</div>

				<div class="layui-form-item">
					<label for="stationId" class="layui-form-label">
		                <span class="we-red">*</span>部门标识
		            </label>
					<div class="layui-input-inline">
                        <select id="stationId" name="stationId" lay-verify="required">
                            <div th:each="station:${stations}">
                                <option th:value="${station.id}" th:text="${station.name}" th:selected="${station.id eq role.stationId}"></option>
                            </div>
                        </select>
					</div>
				</div>
				<div class="layui-form-item">
                    <label for="stationId" class="layui-form-label">
                    </label>
					<button class="layui-btn" lay-filter="update" lay-submit="">更新</button>
				</div>
			</form>
		</div>
		<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
		
		<script type="text/javascript" th:inline="javascript">
			layui.use(['form', 'jquery','layer'], function() {
				var form = layui.form,
					$ = layui.jquery,
					layer = layui.layer;
                var baseurl=[[${#httpServletRequest.getContextPath()}]];

                form.on('submit(update)', function(data) {
                    $.ajax({
                        url:baseurl+"/role/updateRoleInfo",
                        type:'post',
                        data:data.field,
                        dataType:'json',
                        success:function(result){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            if(result&&result.code=="200"){
                                parent.layer.msg("角色修改成功");
                                parent.$("#reload").click();
                            }

                        },
                        error:function(){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.layer.msg("角色修改失败！");

                        }
                    });
                    return false;

                });

			});
		</script>
	</body>

</html>