<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taoge.zxstbg.database.webtls.dao.BisRoleMapper" >
  <resultMap id="RoleResultMap" type="com.taoge.zxstbg.database.webtls.entity.BisRole" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_open_process" property="isOpenProcess" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, is_open_process, station_id, create_time, modify_time
  </sql>

  <select id="selectById" resultMap="RoleResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bis_role
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="listAllRoles" resultMap="RoleResultMap" parameterType="com.taoge.zxstbg.database.webtls.entity.BisPage">
    select
    <include refid="Base_Column_List" />
    from bis_role limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>

  <select id="countAllRoles" resultType="integer">
    select count(id)
    from bis_role;
  </select>

  <select id="selectRolesByIds" resultMap="RoleResultMap">
    select
    <include refid="Base_Column_List" />
    from bis_role
    where id in
    <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
      #{item}
    </foreach>

  </select>

  <select id="selectRolesNotInIds" resultMap="RoleResultMap">
    select
    <include refid="Base_Column_List" />
    from bis_role
    where id not in
    <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
      #{item}
    </foreach>

  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from bis_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.taoge.zxstbg.database.webtls.entity.BisRole" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select replace(uuid(),'-','') from dual;
    </selectKey>
    insert into bis_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isOpenProcess != null" >
        is_open_process,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isOpenProcess != null" >
        #{isOpenProcess,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateById" parameterType="com.taoge.zxstbg.database.webtls.entity.BisRole" >
    update bis_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isOpenProcess != null" >
        is_open_process = #{isOpenProcess,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>