<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taoge.zxstbg.database.webtls.dao.BisUserMapper" >
  <resultMap id="UserResultMap" type="com.taoge.zxstbg.database.webtls.entity.BisUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_account, user_pwd, user_name, user_type, status, role_id
  </sql>
  <select id="selectById" resultMap="UserResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bis_user
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="countAllUsers" resultType="integer">
    select count(id)
    from bis_user
  </select>

  <select id="selectUserByAccount" resultMap="UserResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from bis_user
    where user_account = #{userAccount,jdbcType=VARCHAR}
  </select>

  <select id="listAllUsers" resultMap="UserResultMap" parameterType="com.taoge.zxstbg.database.webtls.entity.BisPage" >
    select
    <include refid="Base_Column_List" />
    from bis_user limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from bis_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.taoge.zxstbg.database.webtls.entity.BisUser">
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select replace(uuid(),'-','') from dual;
    </selectKey>
    insert into bis_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateById" parameterType="com.taoge.zxstbg.database.webtls.entity.BisUser" >
    update bis_user
    <set >
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deletById" parameterType="String">
    delete from bis_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

</mapper>