<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

	<head>
		<meta charset="UTF-8">
		<title>系统后台管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/css/font.css}">
		<link rel="stylesheet" th:href="@{/css/weadmin.css}">
	</head>

	<body>
		<div class="weadmin-body">
			<blockquote class="layui-elem-quote">欢迎使用系统后台管理系统！</blockquote>
			<div class="layui-col-lg12 layui-collapse" style="border: none;">
				<div class="layui-col-lg6 layui-col-md12">
					<!--统计信息展示-->
					<fieldset class="layui-elem-field" style="padding: 5px;">
						<!--<legend>信息统计</legend>-->
						<blockquote class="layui-elem-quote font16">信息统计</blockquote>
						<div class="">
							<table class="layui-table" lay-even>
								<thead>
									<tr>
										<th>登录</th>
										<th>使用</th>
										<th>用户</th>
										<th>角色</th>
										<th>菜单</th>
										<th>管理员</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>77</td>
										<td>92</td>
										<td>9</td>
										<td>0</td>
										<td>8</td>
										<td>20</td>
									</tr>
									<tr>
										<td>今日</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<td>昨日</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<td>本周</td>
										<td>2</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<td>本月</td>
										<td>2</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
								</tbody>
							</table>
							<table class="layui-table">
								<thead>
									<tr>
										<th colspan="2" scope="col">服务器信息</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th width="30%">服务器计算机名</th>
										<td><span id="lbServerName">http://127.0.0.1/</span></td>
									</tr>
									<tr>
										<td>服务器IP地址</td>
										<td>192.168.1.1</td>
									</tr>
									<tr>
										<td>服务器域名</td>
										<td>taoge.com</td>
									</tr>
									<tr>
										<td>服务器端口 </td>
										<td>80</td>
									</tr>
									<tr>
										<td>本文件所在文件夹 </td>
										<td>D:\system\</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</div>
				<div class="layui-col-lg6 layui-col-md12">
					<fieldset class="layui-elem-field we-changelog" style="padding: 5px;">
						<blockquote class="layui-elem-quote font16">功能简介</blockquote>
						<ul class="layui-timeline" style="height: 729px; overflow-y: auto;">
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">
										<h3>用户管理</h3>
									</div>
									<ul>
										<li>用户新增、用户编辑、用户删除、角色取消授权、增加授权</li>
										<li>角色新增、角色编辑、角色删除、资源取消授权、增加授权</li>
										<li>菜单新增、菜单编辑、菜单删除</li>
									</ul>
								</div>
							</li>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">
										<h3>管理员管理</h3>
									</div>
									<ul>
										<li>管理员新增、删除、编辑</li>
										<li>管理员权限管理</li>
									</ul>
								</div>
							</li>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis" style="color: #FF5722;">&#xe756;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">
										<h3>系统管理</h3>
									</div>
									<ul>
										<li>登录日志</li>
										<li>系统使用日志</li>
										<li>定时任务管理</li>
									</ul>
								</div>
							</li>
						</ul>
					</fieldset>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:attr="src=@{/layui/layui.js}" charset="utf-8"></script>
	<script type="text/javascript">
        layui.extend({
            admin: '/zxstbg/js/admin'
        });
		layui.use(['jquery', 'element','util', 'admin', 'carousel'], function() {
			var element = layui.element,
				$ = layui.jquery,
				carousel = layui.carousel,
				util = layui.util,
				admin = layui.admin;
			//建造实例
			carousel.render({
				elem: '.weadmin-shortcut'
				,width: '100%' //设置容器宽度				
				,arrow: 'none' //始终显示箭头	
				,trigger: 'hover'
				,autoplay:false
			});
			
			carousel.render({
				elem: '.weadmin-notice'
				,width: '100%' //设置容器宽度				
				,arrow: 'none' //始终显示箭头	
				,trigger: 'hover'
				,autoplay:true
			});
			
			$(function(){
				setTimeAgo(2018,0,1,13,14,0,'#firstTime');
				setTimeAgo(2018,2,28,16,0,0,'#lastTime');
			});
			function setTimeAgo(y, M, d, H, m, s,id){
			    var str = util.timeAgo(new Date(y, M||0, d||1, H||0, m||0, s||0));
			    $(id).html(str);
			    console.log(str);
			 };
		});
	</script>

</html>